header {
  align-items: center;
  background-color: var(--main-color-theme);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  border-bottom: 0.3125rem solid var(--darken-blue-theme-color);
}

.game-logo {
  margin-left: var(--main-spacing-normal);
  height: 5rem;
  width: 13.125rem;
}

.user-infos {
  align-items: center;
  display: flex;
  width: 30%;
}

.score-box {
  background-color: var(--darken-blue-theme-color);
  border: var(--main-border-size) solid white;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding: var(--main-spacing-normal) var(--main-spacing-small);
  position: relative;
  left: 5%;
  width: 150%;
  z-index: 0;
}

.header-score {
  margin-top: 0.3125rem;
  margin-bottom: 0;
}

.user-infos img {
  border: var(--main-border-size) solid white;
  border-radius: 50%;
  margin-right: var(--main-spacing-normal);
  width: 5rem;
  z-index: 1;
}
