html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-color-theme: #003c69;
  --darken-blue-theme-color: #001b30;
  --main-spacing-small: 0.625rem;  /* 10px */
  --main-spacing-normal: 0.9375rem; /* 15px */
  --main-spacing-large: 1.875rem; /* 30px */
  --main-border-size: 0.1875rem; /* 3px */
  --gradient-blue: rgb(0,27,48);
  --gradient-blue-updown: linear-gradient(360deg, rgba(0,27,48,1) 0%, rgba(0,60,105,1) 100%);
  --gradient-blue-leftright: linear-gradient(90deg, rgba(0,27,48,1) 0%, rgba(0,60,105,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
